.title{
  height: 10vh;
  font-size: 8vh;
  margin-bottom: 5vh;
}

.App {
  /* width: 80%; */
  /* margin: 0 auto; */
  /* display: flex; */
  height: 85vh;
}

.controller-board{
  height: 45vh;
}

.navigator{
  /* text-align: left;   */
  /* margin-top: 5vh; */
  /* background-color: orchid; */
  height: 40vh;
  overflow: auto;
  font-size: 3vh;
}
@media (min-width: 800px) {
  .navigator{
      height: 80vh;
      font-size: 32px;
  }
  .controller-board{
    height: 80vh;
  }
}