  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  [class^="square-"],
  [class*="square-"] :focus {
    outline: none;
  }


  
  [class^="square-"],
  [class*="square-"]  {
    background: #fff;
    border: 0.3vh solid rgb(187, 185, 185);
    /* font-size: 32px; */
    font-weight: bold;
    /* line-height: 40px; */
    height: 40px;
    /* margin-right: -2px; */
    /* margin-top: -2px; */
    /* padding: 0; */
    /* text-align: center; */
    width: 40px;
    box-sizing: border-box;
  }
  @media (min-width: 800px) {
    [class^="square-"],
    [class*="square-"]  {
    /* font-size: 80px; */
    line-height: 100px;
    height: 100px;
    width: 100px;
  }
  }
  .stone{
    /* position: relative;
    top: -10px;
    line-height: 10px; */
    font-size: 4vh;
    height: 90%;
    /* text-align: center; */
    /* display: table-cell;
    vertical-align : middle;
    text-align: center; */
  }

  /* .square  { */
    /* background: #fff; */
    /* border: 1px solid #999; */
    /* font-size: 24px; */
    /* font-weight: bold; */
    /* line-height: 80px; */
    /* height: 80px; */
    /* margin-right: -2px; */
    /* margin-top: -2px; */
    /* padding: 0; */
    /* text-align: center; */
    /* width: 80px; */
  /* } */

  .selected{
    border: 0.3vh solid; /* 線の太さと可視化 */
    border-color: yellow;
  }
  .animal-0{
    background: white;
  }
  .animal-1{
    background: green;
  }
  .animal-2{
    background: rgb(219, 219, 60);
  }
  .animal-3{
    background: blue;
  }
  .animal-4{
    background: red;
  }
  .animal-5{
    background: purple;
  }
  .animal-6{
    background: orange;
  }