ul {
    margin-top: 0px;
    list-style: none;
    text-align: left;
    padding-inline-start: 0px;
}


li{
    border-top:1px solid #84b2e0;
    border-bottom:1px solid #84b2e0;
    /* background-color: #668bb1; */
    height: 50px;
    transition: background-color .5s;
    
}

li:hover{
    background-color: #508bc7;
}

li span {
    position: relative;
    left: 10px;
    display: table-cell;
  vertical-align: middle;
}



li+li{
    border-top: 0;
    border-bottom:1px solid #84b2e0;
}

@media (min-width: 800px) {
    li{
        height: 80px;
        border-left:5px solid #84b2e0;
    }
  }


